In [1]:
import pymysql

ModuleNotFoundError: No module named 'pymysql'

In [2]:
pip install pymysql

Collecting pymysql
  Using cached PyMySQL-0.10.1-py2.py3-none-any.whl (47 kB)
Installing collected packages: pymysql
Successfully installed pymysql-0.10.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pymysql

In [4]:
pip install pandas

Requirement already satisfied: pandas in /Users/sanjanaadepu/opt/anaconda3/lib/python3.7/site-packages (1.0.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/sanjanaadepu/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Users/sanjanaadepu/opt/anaconda3/lib/python3.7/site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in /Users/sanjanaadepu/opt/anaconda3/lib/python3.7/site-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in /Users/sanjanaadepu/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd

In [6]:
connection = pymysql.connect(
host = 'localhost',
user = 'root',
password = 'adepu321',
db = 'CVD_GEORGIA_RATES')

In [50]:
from sqlalchemy import create_engine
import pymysql

db_connection_str = 'mysql+pymysql://root:adepu321@localhost/CVD_GEORGIA_RATES'
db_connection = create_engine(db_connection_str)

df = pd.read_sql('SELECT * FROM georgia_death_rates', con=db_connection)

df

    county_names  death_rates
0        Appling        619.4
1       Atkinson        510.7
2          Bacon        657.0
3          Baker        421.3
4        Baldwin        590.0
..           ...          ...
154    Whitfield        435.4
155       Wilcox        598.2
156       Wilkes        638.2
157    Wilkinson        718.7
158        Worth        413.6

[159 rows x 2 columns]

In [57]:
death_rates = df[["death_rates"]]
print(death_rates)
# df = pd.DataFrame(death_rates,columns=['death_rates'])
# print (df)


df["risk_value"] = ""

print (df)

     death_rates
0          619.4
1          510.7
2          657.0
3          421.3
4          590.0
..           ...
154        435.4
155        598.2
156        638.2
157        718.7
158        413.6

[159 rows x 1 columns]
    county_names  death_rates risk_value
0        Appling        619.4
1       Atkinson        510.7
2          Bacon        657.0
3          Baker        421.3
4        Baldwin        590.0
..           ...          ...        ...
154    Whitfield        435.4
155       Wilcox        598.2
156       Wilkes        638.2
157    Wilkinson        718.7
158        Worth        413.6

[159 rows x 3 columns]

In [59]:

df.loc[df['death_rates'] > 500, 'risk_value'] = .01
df.loc[df['death_rates'] < 500, 'risk_value'] = .005

# df.loc[df['death_rates'] > 500, 'death_rates'] = .01
# df.loc[df['death_rates'] < 500, 'death_rates'] = .005

df

    county_names  death_rates risk_value
0        Appling        619.4       0.01
1       Atkinson        510.7       0.01
2          Bacon        657.0       0.01
3          Baker        421.3      0.005
4        Baldwin        590.0       0.01
..           ...          ...        ...
154    Whitfield        435.4      0.005
155       Wilcox        598.2       0.01
156       Wilkes        638.2       0.01
157    Wilkinson        718.7       0.01
158        Worth        413.6      0.005

[159 rows x 3 columns]